<header class="header">
    <div class="local-header">
            <div class="local-header-content">
                <h1>Welcome to the Angular Trainer</h1>
                <p>Be ready to be more then just a student!</p>
            </div>
            <div class="nav-content">
                <a routerLink="/home" class="logo-link">Home</a>
                <a routerLink="/class-project" class="logo-link">Class Project</a>
                <a routerLink="/levelone" class="logo-link">Nivelamento 01</a>
            </div>
                
    </div> 
</header>