<section class="firebase-guide">
  <div class="content-wrap">
    <header class="header">
      <h1>What is API?</h1>
      <p class="subtitle">An API (Application Programming Interface) is a set of rules and protocols that allows different software applications to communicate with each other. It defines the methods and data formats that applications can use to request and exchange information.</p>
    </header>
 
    <article>
      <h2>Making API Requests Outside Angular</h2>
      <hr>
      <p>There are several ways to make API requests in JavaScript outside of Angular. Here's a comparison of popular methods:</p>

        <table>
            <tr>
                <th><strong> Method </strong> </th>
                <th><strong> Pros </strong> </th>
                <th><strong> Cons </strong> </th>
            </tr>
            <tr>
                <th>fetch</th>
                <th>Natie, modern, supports Promises</th>
                <th>No built-in interceptor support</th>
            </tr>
            <tr>
                <th>Axios</th>
                <th>Easy to use, interceptors, cancellation</th>
                <th>External dependency</th>
            </tr>
            <tr>
                <th>XHR (XMLHttpRequest)</th>
                <th>Universal support</th>
                <th>Verbose and outdated</th>
            </tr>
            <tr>
                <th>jQuery AJAX</th>
                <th>Simple in jQuery projects</th>
                <th>Obsolete for new projects</th>
            </tr>
            <tr>
                <th>React Query</th>
                <th>Advanced cache management</th>
                <th>Learning curve</th>
            </tr>
        </table>

        <h2>Angular HTTP API</h2>
        <p>Angular provides a powerful HTTP client module for making HTTP requests and handling responses. It offers:</p>
        <ul>
            <li><strong>HttpClient:</strong> Service to perform HTTP requests.</li>
            <li><strong>provideHttpClient():</strong> Used to configure and provide the HTTP client globally.</li>
            <li><strong>Interceptors: </strong> To modify requests or responses globally.</li>
        </ul>
        <p>Angular supports the four main HTTP verbs commonly used in REST APIs:</p>
        <ul>
            <li><strong>GET - </strong>Retrieve data.</li>
            <li><strong>POST - </strong>Create new data.</li>
            <li><strong>PUT - </strong> Update existing data.</li>
            <li><strong>DDELETE</strong> Remove data.</li>
        </ul>
        <p>Each of these verbs can be used with HttpClient methods such as <code>http.get(), http.post(), http.put(), and http.delete().</code></p>
    </article>
  </div>
</section>
 
 
 
