<section class="firebase-guide">
  <div class="content-wrap">
    <header class="header">
      <h1>Rule 6: Don’t Abbreviate</h1>
      <p class="subtitle">Use descriptive and meaningful names</p>
    </header>
 
    <article>
        <p>Em Angular, variáveis e métodos devem ter nomes claros. Abreviações causam confusão, especialmente em projetos maiores.</p>
        <h2>Exemplo no Angular</h2>
        <p>Evite:</p>
        <pre>
            <code>
const usr = this.auth.getUsr();
            </code>
        </pre>
        <p>Prefira:</p>
        <pre>
            <code>
const user = this.authService.getUser();
            </code>
        </pre>
    </article>
  </div>
</section>
 
 
 


